@font-face {
    font-family: Jacques Francois;
    src: url(./font/JacquesFrancois-Regular.ttf);
}
@font-face {
    font-family: Italiana;
    src: url(./font/Italiana-Regular.ttf);
}
@font-face {
    font-family: Inter;
    src: url(./font/Inter-VariableFont_slnt\,wght.ttf);
}
body {
    max-width: 1512px;
    margin: 0px;
    background-color: #EEF2F9;
    font-family: Jacques Francois;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    background-color: white;
}
.nav-menu a {
    text-decoration: none;
    font-family: Inter;
    color: #17407D;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    margin: 0px 90px 0px 30px;
}
.nav-menu .last {
    margin: 0px 0px 0px 30px;
}
.nav-logo a {
    text-decoration: none;
    font-family: Italiana;
    color: #8E6B0F;
    font-size: 36px;
    font-weight: 400;
    line-height: 42.41px;
    margin-right: 50px;
}
.nav-search {
    margin-left: 170px;
}
.article-exclusive {
    display: flex;
    align-items: center;
}
.article-exclusive img {
    max-width: 100%;
    height: auto;
}
.article-exclusive-description {
    padding: 0px 40px;
}
.article-exclusive h2 {
    font-size: 48px;
    color: #8E6b0f;
    font-weight: 400;
    line-height: 63.3px;
    margin-top: 0px;
}
.article-exclusive p {
    font-size: 24px;
    color: #17407D;
    font-weight: 400;
    line-height: 31.65px;
    margin: 50px 0px 50px 0px;
}
.article-exclusive button {
    background-image: url(./img/Rectangle\ 3.png);
    background-position: 50% 30%;
    width: 353px;
    height: 84px;
    border-radius: 48px;
    border: solid 0px;
    font-size: 32px;
    line-height: 42.2px;
    font-weight: 400;
    color: white;
    font-family: Jacques Francois;
}
.article-category {
    background-color: white;
}
.article-category h2 {
    text-align: center;
    font-family: Jacques Francois;
    font-size: 40px;
    font-weight: 400;
    line-height: 52.75px;
    color: #8E6B0F;
    margin: 0px;
    padding-top: 100px;
}
.article-category p {
    text-align: center;
    font-family: Jacques Francois;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.65px;
    color: #17407D;
    padding: 5px 220px;
}
.article-category img {
    align-items: center;
    max-width: 100%;
    height: auto;
}
.article-shop {
    margin-top: 70px;
}
.article-shop img {
    max-width: 100%;
    height: auto;
}
.article-advertising {
    background-image: url(./img/Rectangle\ 12.svg);
    margin: 100px 42px 100px 43px;
    background-repeat: no-repeat;
    padding: 40px 100px 100px 100px;
}
.article-advertising h3 {
    font-family: Jacques Francois;
    font-size: 32px;
    font-weight: 400;
    line-height: 42.2px;
    color: white;
    margin: 0px;
    margin-top: 145px;
    margin-left: 320px;
}
.article-advertising p {
    font-family: Jacques Francois;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.65px;
    color: white;
    margin: 40px 120px 40px 120px;
    padding: 0px 70px 0px 70px;
}
.article-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article-footer-logo a {
    text-decoration: none;
    font-family: Italiana;
    font-size: 36px;
    font-weight: 400;
    line-height: 42.41px;
    color: #8E6B0F;
    margin-left: 100px;
    margin-right: 20px;
}
.article-footer-menu a {
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    color: #17407D;
    margin-left: 100px;
}
.article-footer-contacts {
    margin-left: 100px;
    margin-right: 100px;
}
.article-footer-contacts a {
    margin-right: 10px;
}
.footer-rights {
    background-image: url(./img/Rectangle\ 13.png);
    text-align: center;
    color: white;
    font-family: Jacques Francois;
    font-size: 20px;
    font-weight: 400;
    line-height: 26.38px;
    padding: 10px;
}